includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - tests

    # লেভেল ৫ বা আপনার পছন্দমত সেট করতে পারেন (০ থেকে ৯)
    level: 9

    # যদি কোনো নির্দিষ্ট নেমস্পেস বা ক্লাস স্কিপ করতে চান
    # ignoreErrors:
    #     - '#Call to static method .* on an unknown class Facades\\App\\Interfaces\\.*#'
